.App {
  .btn-buy {
    background-color: var(--main);
    border: 1px solid transparent;
    color: var(--light);
    &:hover {
      background-color: transparent;
      border: 1px solid var(--main);
      color: var(--main);
    }
  }

  .btn-down {
    background-color: transparent;
    border: 1px solid var(--dark);
    color: var(--dark);
    &:hover {
      background-color: var(--dark);
      border: 1px solid transparent;
      color: var(--light);
    }
  }

  section {
    border-left: 4px solid var(--main);
    padding-left: 1rem;
    margin-top: 2rem;
  }

  .gallery-thumb:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .hover-shadow {
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      transform: translateY(-3px);
    }
  }
}
